a {
  width: 100%;
  text-decoration: none;
}

button {
  max-width: 600px;
}

input {
  background-color: white !important;
}

.top-bar {
  text-align: left;
}

.page-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: 20px 20px 80px;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content-container {
  max-width: 600px;
  margin: auto;
}

.login-form {
  margin: 0 auto 35px;
  max-width: 600px;
}

/* TYPOGRAPHY */

.landing-page h1 {
  color: #fff;
  margin-top: auto;
  width: 100%;
}

/* IMAGES */

.landing-image {
  background:linear-gradient(0deg,rgba(0,0,0,0.01),rgba(0,0,0,0.45)),url('../assets/shoe1.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: -45%;
  height: 70%;
  border-radius: 20px;
}

@media (min-width: 600px) {
  .bg-image {
    right: -10%;
  }
}

/* BUTTONS */

.fb-btn > .MuiButton-containedPrimary,
.fb-btn > .MuiButton-containedPrimary:hover {
  background-color: #3A5797;
  margin: 10px 0 10px;
}

.fb-btn img, .twitter-btn img {
  margin-left: 30px;
}

.twitter-btn > .MuiButton-containedPrimary,
.twitter-btn > .MuiButton-containedPrimary:hover {
  background-color: #54ACEE;
  margin: 10px 0 10px;
}

/* MATERIAL OVERRIDES */

.MuiFormHelperText-root {
  position: absolute;
  top: 55px;
  margin-bottom: 5px;
}

.MuiButton-label {
  font-weight: 600;
}

/* ANIMATIONS */

.fade-in {
	-webkit-animation: fade-in .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
