@font-face {
  font-family: 'Apercu Mono Bold';
  src: local('Apercu Mono Bold'), url('../assets/fonts/apercu-mono-bold-pro.ttf') format('truetype');
}

@font-face {
  font-family: 'Apercu Mono Regular';
  src: local('Apercu Mono Regular'), url('../assets/fonts/apercu-mono-regular-pro.ttf') format('truetype');
}

body {
  font-family: 'Apercu Mono Regular';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}